<a href="https://colab.research.google.com/github/lgerardino/Inventory-analysis-and-Optimization/blob/main/autoparts_inventory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# To access the Excel file, you need to use a library like 'openpyxl' or 'pandas'.
# Here's an example using 'pandas':

import pandas as pd

# Define the file path as a string:
file_path = '/content/sample_data/Receiving Data.xlsx'

# Read the Excel file into a pandas DataFrame:
df = pd.read_excel(file_path)

# Now you can work with the data in the DataFrame 'df'.
# For example, to display the first 5 rows:
print(df.head())

               User          transaction type docnumber Part barcode  bcqty  \
0       Dawn Killby            Start Stocking       NaN  NaN     NaN    NaN
1       Dawn Killby              End Stocking       NaN  NaN     NaN    NaN
2  Janet  Steegstra            Start Stocking       NaN  NaN     NaN    NaN
3       Kaylee Hunt  Start Receiving Transfer       NaN  NaN     NaN    NaN
4       Kaylee Hunt    End Receiving Transfer       NaN  NaN     NaN    NaN

   uomqty  ExtQty  Scans        time started  Bin Zone  duration
0     NaN     NaN    NaN 2024-12-02 06:31:00  NaN  NaN  00:00:05
1     NaN     NaN    NaN 2024-12-02 06:31:00  NaN  NaN  00:00:04
2     NaN     NaN    NaN 2024-12-02 06:34:00  NaN  NaN  00:09:41
3     NaN     NaN    NaN 2024-12-02 06:37:00  NaN  NaN  00:00:04
4     NaN     NaN    NaN 2024-12-02 06:37:00  NaN  NaN  00:00:00

In [5]:
file_path = '/content/sample_data/Picking Data.xlsx'
df2 = pd.read_excel(file_path)
print(df2.head())

             User        transaction type  docnumber Part barcode  bcqty  \
0    Tammy Quaite  Start Picking Transfer        NaN  NaN     NaN    NaN
1   Remi Awogbemi  Start Picking Transfer        NaN  NaN     NaN    NaN
2  Shirley Quaite  Start Picking Transfer        NaN  NaN     NaN    NaN
3    Frank Pawley  Start Picking Transfer        NaN  NaN     NaN    NaN
4    Reuben Booth  Start Picking Transfer        NaN  NaN     NaN    NaN

   uomqty  ExtQty  Scans        time started  Bin Zone  duration
0     NaN     NaN    NaN 2024-12-02 06:23:00  NaN  NaN  00:11:51
1     NaN     NaN    NaN 2024-12-02 06:25:00  NaN  NaN  00:19:01
2     NaN     NaN    NaN 2024-12-02 06:27:00  NaN  NaN  00:17:59
3     NaN     NaN    NaN 2024-12-02 06:28:00  NaN  NaN  00:19:59
4     NaN     NaN    NaN 2024-12-02 06:29:00  NaN  NaN  00:28:32

In [6]:
file_path = '/content/sample_data/Packing Data.xlsx'
df3 = pd.read_excel(file_path)
print(df3.head())

                User        transaction type   docnumber     Part  \
0     Jacky Westlake        Start Packing SO         NaN      NaN
1  Cynthia  Van Best        Start Packing SO         NaN      NaN
2  Cynthia  Van Best          End Packing SO         NaN      NaN
3  Cynthia  Van Best  Start Packing Transfer         NaN      NaN
4  Cynthia  Van Best        Packing Transfer  16496830.0  07 35PS

        barcode  bcqty  uomqty  ExtQty  Scans        time started  Bin  Zone  \
0           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:26:00  NaN   NaN
1           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:34:00  NaN   NaN
2           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:34:00  NaN   NaN
3           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:34:00  NaN   NaN
4  707774000000    1.0     1.0     1.0    1.0 2024-12-02 06:34:00  NaN   NaN

   duration
0  00:56:21
1  00:00:05
2  00:00:00
3  00:00:05
4  00:00:10

In [7]:
file_path = '/content/sample_data/Bin Locations.xlsx'
df4 = pd.read_excel(file_path)
print(df3.head())

                User        transaction type   docnumber     Part  \
0     Jacky Westlake        Start Packing SO         NaN      NaN
1  Cynthia  Van Best        Start Packing SO         NaN      NaN
2  Cynthia  Van Best          End Packing SO         NaN      NaN
3  Cynthia  Van Best  Start Packing Transfer         NaN      NaN
4  Cynthia  Van Best        Packing Transfer  16496830.0  07 35PS

        barcode  bcqty  uomqty  ExtQty  Scans        time started  Bin  Zone  \
0           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:26:00  NaN   NaN
1           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:34:00  NaN   NaN
2           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:34:00  NaN   NaN
3           NaN    NaN     NaN     NaN    NaN 2024-12-02 06:34:00  NaN   NaN
4  707774000000    1.0     1.0     1.0    1.0 2024-12-02 06:34:00  NaN   NaN

   duration
0  00:56:21
1  00:00:05
2  00:00:00
3  00:00:05
4  00:00:10